/*
 * Title:   Custom Style File
 * Author:  http://themeforest.net/user/soaptheme 
 */

.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-40{
    padding: 40px;
}
.p-50{
    padding: 50px;
}

.p-t-5{
    padding-top: 5px;
}
.p-t-10{
    padding-top: 10px;
}
.p-t-20{
    padding-top: 20px;
}
.p-t-30{
    padding-top: 30px;
}
.p-t-40{
    padding-top: 40px;
}
.p-t-50{
     padding-top: 50px;
}


.m-b-5{
    margin-bottom: 5px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-b-30{
    margin-bottom: 30px;
}
.m-b-40{
    margin-bottom: 40px;
}
.m-b-50{
    margin-bottom: 50px;
}


